      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>

<%= bootstrap_nested_form_for(current_user) do |f| %>

  <% if @appuser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appuser.errors.count, "error") %> prohibited this appuser from being saved:</h2>

      <ul>
      <% @appuser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="container">  
    <div id="box" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
<%= f.text_field :name , label: "Name" %>
<%= f.phone_field :phone_number, label: "Phone Number" %>
<%= f.password_field :password , label: "Password"%>
<%= f.phone_field :alt_phone_number , label: "Alternate Phone Number" %>
<%= f.text_field :bank_name , label: "Bank Name" %>
<%= f.text_field :bank_account_no , label: "Account Number" %>


  <div class="actions">
    <%= f.submit "Update Profile" , class: "btn btn-success" %>
  </div>
     </div>
   </div>
    
<% end %>
