<div class="container">
      <div class="row">
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <br/>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><%= current_user.name %></h3>
            </div>
            <div class="panel-body">
              <div class="row">
               
                
                <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>DEPARTMENT:</dt>
                    <dd>Administrator</dd>
                    <dt>HIRE DATE</dt>
                    <dd>11/12/2013</dd>
                    <dt>DATE OF BIRTH</dt>
                       <dd>11/12/2013</dd>
                    <dt>GENDER</dt>
                    <dd>Male</dd>
                  </dl>
                </div>-->
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Email Address</td>
                        <td><%= current_user.email %></td>
                      </tr>
                      <tr>
                        <td>Phone Number</td>
                        <td><%= current_user.phone_number %></td>
                      </tr>

                      <tr>
                        <td>Alternate Phone Number</td>
                        <td><%= current_user.alt_phone_number %></td>
                      </tr>

                       <tr>
                        <td>Bank Name</td>
                        <td><%= current_user.bank_name %></td>
                      </tr>

                       <tr>
                        <td>Bank Account Number</td>
                        <td><%= current_user.bank_account_no %></td>
                      </tr>
                      
                    </tbody>
                  </table>
                  
                  <a  class="btn btn-primary">Trucks Uploaded</a>
                  <a  class="btn btn-primary"><%= current_user.truckers_count %></a>
                  <p> </p>
                  <a  class="btn btn-primary">Trucks Verified</a>
                  <a  class="btn btn-primary"><%= current_user.verified_entries_count %></a>
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        
                        
                            <a href="/profile/edit" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            
                        
                    </div>
            
          </div>
        </div>
      </div>
    </div>