    <div class="container">    
        <div id="loginbox" style="margin-top:100px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Sign In</div>
                        <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#"></a></div>
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                            
                        <form id="loginform" class="form-horizontal" action="/login" method="post" role="form">
                                    
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input id="email" type="text" class="form-control" name="email" value="" placeholder="email">                                        
                                    </div>
                                
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input id="password" type="password" class="form-control" name="password" placeholder="password">
                                    </div>
                          <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>     

                                
                            <div class="input-group">
 
                                    </div>


                                <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls">
                                      
                                       <input class="btn btn-success" name="commit" type="submit" value="Log In">

                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-12 control">
                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                            Don't have an account! 
                                        <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                                            Sign Up Here
                                        </a>
                                        </div>
                                    </div>
                                </div>    
                            </form>     



                        </div>                     
                    </div>  
        </div>
        <div id="signupbox" style="display:none; margin-top:100px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">Sign Up</div>
                            <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show()">Sign In</a></div>
                        </div>  
                        <div class="panel-body" >
                            <form id="signupform" action="/signup" method="post"class="form-horizontal" role="form">
                                
                                <div id="signupalert" style="display:none" class="alert alert-danger">
                                    <p>Error:</p>
                                    <span></span>
                                </div>
                                    
                                <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 
                                  
                                <div class="form-group">
                                    <label for="email" class="col-md-3 control-label">Email</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="appuser[email]" placeholder="Email Address">
                                    </div>
                                </div>
                                    
                                <div class="form-group">
                                    <label for="name" class="col-md-3 control-label">Name</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="appuser[name]" placeholder="Name">
                                    </div>
                                </div>
                              
                                <div class="form-group">
                                    <label for="password" class="col-md-3 control-label">Password</label>
                                    <div class="col-md-9">
                                        <input type="password" class="form-control" name="appuser[password]" placeholder="Password">
                                    </div>
                                </div>
                                    
                                <div class="form-group">
                                    <label for="phone_number" class="col-md-3 control-label">Phone Number</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="appuser[phone_number]" placeholder="Phone Number">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="alt_phone_number" class="col-md-3 control-label"> Alternate Phone Number</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="appuser[alt_phone_number]" placeholder="Alt Phone Number">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="bank_name" class="col-md-3 control-label"> Bank Name</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="appuser[bank_name]" placeholder="Bank Name">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="bank_account_no" class="col-md-3 control-label"> Bank Account No</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="appuser[bank_account_no]" placeholder="Bank Account No">
                                    </div>
                                </div>








                <div class="row">
                      
                        <label for="toc_accepted" class="col-md-3 control-label" >
                            
                        <input id="toc_accepted" name="appuser[toc_accepted]" type="checkbox" class="col-md-3 control-label"> &nbsp;
                         </label>


                
                <div class="col-xs-8 col-sm-9 col-md-9">
                     By clicking <strong class="label label-primary">Register</strong>, you agree to be henceforth bound by the <a href="/TermsOfUse" data-toggle="modal" target="_blank">Terms of Use</a> , <a href="/UserAgreement" data-toggle="modal" target="_blank">User Agreement</a>, <a href="/PrivacyPolicy" data-toggle="modal" target="_blank" >Privacy Policy</a>. These are valid and binding under applicable law.
                </div>
            </div>

                                <div class="form-group">
                                    <!-- Button -->                                        
                                    <div class="col-md-offset-3 col-md-9">
                                        <input class="btn btn-info"  id="registerbtn" name="commit" type="submit" value="Register">
                                        
                                    </div>
                                </div>
                                
                                
                                
                                
                                
                            </form>
                         </div>
                    </div>

               
               
                
         </div> 
    </div>
    