<h2>Uploaders Page</h2>

<br>

 <h4>Upload Truckers File with columns:-.</h4>
 <p> TruckNo, HigherBand, Cap,	Carring Cap, Vehicle Model,	Vehicle Manufecturer, Vehicle Type,	Broker Name, Truck Owner, Truck Owner Address, Truck Owner Phone No., Truck Owner PAN, CHASSIS_NUM,	ENGINE_SNR,	Station 1, Station 2, DriverName, DriverNumber, Shipment, ShipmentDate,	Challan NO,	Consignor Name,	Broker Number,	Broker, Alternate Number, GPS
</p>

 <form id="upload_form" enctype="multipart/form-data" method="post" action="upload">
   	<div>	
	   	<fieldset>

	   		Upload Truckers file: 
	   		<%= file_field( "form", "file" ) %>
   			<br />
   			<%= submit_tag( "Upload file" ) %>

 		</fieldset>	
 	</div>
 </form>	
