  <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
  
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <!---li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li-->
                    <li>
                        <a class="page-scroll" href="#about">Features</a>
                    </li>
                    <!--li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li-->
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
