<p id="notice"><%= notice %></p>

<h1>Listing Contact Us Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Message</th>
      <th>Phone number</th>
      <th>Company name</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contact_us_users.each do |contact_us_user| %>
      <tr>
        <td><%= contact_us_user.email %></td>
        <td><%= contact_us_user.message %></td>
        <td><%= contact_us_user.phone_number %></td>
        <td><%= contact_us_user.company_name %></td>
        <td><%= contact_us_user.name %></td>
        <td><%= link_to 'Show', contact_us_user %></td>
        <td><%= link_to 'Edit', edit_contact_us_user_path(contact_us_user) %></td>
        <td><%= link_to 'Destroy', contact_us_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact us user', new_contact_us_user_path %>
