<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @contact_us_user.email %>
</p>

<p>
  <strong>Message:</strong>
  <%= @contact_us_user.message %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @contact_us_user.phone_number %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @contact_us_user.company_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @contact_us_user.name %>
</p>

<%= link_to 'Edit', edit_contact_us_user_path(@contact_us_user) %> |
<%= link_to 'Back', contact_us_users_path %>
