


<%= bootstrap_form_for(@appuser) do |f| %>
  <% if @appuser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appuser.errors.count, "error") %> prohibited this appuser from being saved:</h2>

      <ul>
      <% @appuser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">  
    <div id="box" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
   <%= f.check_box :is_verified %>
  
  </div>
</div>


  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>
 
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
