<p id="notice"><%= notice %></p>

<h1>Listing Appusers</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th> </br>
      <th> Phone</th> 
      <th>  Truck Count</th> 
      <th>  Verified Entries </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appusers.each do |appuser| %>
      <tr>
        <td><%= appuser.email %></td>
        <td><%= appuser.name %></td>
        <td><%= appuser.phone_number %></td>
        <td><%= appuser.truckers_count %></td>
        <td><%= appuser.verified_entries_count %></td>
        <td><%= link_to 'Show', appuser %></td>
        <td><%= link_to 'Edit', edit_appuser_path(appuser) %></td>
        <td><%= link_to 'Destroy', appuser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appuser', new_appuser_path %>
