<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @appuser.username %>
</p>

<p>
  <strong> password:</strong>
  <%= @appuser.password %>
</p>

<p>
  <strong>Crypted password:</strong>
  <%= @appuser.crypted_password %>
</p>

<p>
  <strong>Salt:</strong>
  <%= @appuser.salt %>
</p>

<p>
  <strong>Email:</strong>
  <%= @appuser.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @appuser.name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @appuser.phone_number %>
</p>

<p>
  <strong>Opt f1:</strong>
  <%= @appuser.opt_f1 %>
</p>

<p>
  <strong>Opt f2:</strong>
  <%= @appuser.opt_f2 %>
</p>

<p>
  <strong>Truckers Count</strong>
  <%= @appuser.truckers_count %>
</p>

<%= link_to 'Edit', edit_appuser_path(@appuser) %> |
<%= link_to 'Back', appusers_path %>
