<div class="container">
      <div class="row">
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      


        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
                 <br/>
              <br/>
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Hi <%= current_user.name %></h3>
            </div>
            <div class="panel-body">


              <div  class="col-xs-8 col-sm-9 col-md-9" >

                <p> Thank you for registering with us </p>
                <p> Your account has been submitted for verification. </p>
                <p> It will be activated within 3 hours. </p>
                <p> Please mail us at support@usedipper.com or call us at 9052611336 incase of queries </p>

                
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>