<%= bootstrap_nested_form_for(@trucker) do |f| %>
  <% if @trucker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trucker.errors.count, "error") %> prohibited this trucker from being saved:</h2>

      <ul>
      <% @trucker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="container">  
    <div id="box" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

<%= f.text_field :trucker_name , label: "Truck Owner Name (ट्रक मालिक का नाम )" %>
<%= f.text_field :truck_number , label: "Truck Plate Number (ट्रक प्लेट नंबर) " %>
<%= f.phone_field :trucker_phn_no , label: "Owner Phone Number (मालिक का फोन नंबर) " %>
<%= f.number_field :fleet_size , label: "No. of Trucks with Owner (ट्रक फ्लीट संख्या)" %>

<%= f.fields_for :drivers , Driver.new do |driver_form| %>
  <%= driver_form.text_field :driver_name , label: "Driver Name (ड्राइवर का नाम) " %>
  <%= driver_form.phone_field :driver_pnh_no , label: "Driver Phone Number (ड्राइवर फोन नंबर)" %>
  <%= driver_form.text_field :license_no , label: "Driver License Number (ड्राइवर लाइसेन्स नंबर) " %>
  
<% end %>


<%= f.check_box :has_gps , label: "Has GPS (गाड़ी मैं GPS है)"  %>
<%= f.text_field :opt_f1 , label: "GPS Company (GPS कंपनी)" %>
<%= f.text_field :transporter_name , label: "Last Transporter (पिछले ट्रॅन्सपोर्टर का नाम) " %>
<%= f.text_field :consignee_name , label: "Last Consignee (पिछले माल पानेवाला) " %>
<%= f.select :truck_type, Trucker::TRUCK_TYPES, label:"Truck Type (ट्रक केटेगरी) " %>
<%= f.text_field :route_start, label:"Preferred Origin (Loading Point) (आरंभ स्थल) " %>
<%= f.text_field :route_end, label:"Preferred Destination (Unloading point) (गंतव्या स्थल) " %>
<%= f.file_field :rc_attach, label:"Attach RC Photo (RC का फ़ोटो) " %>
<%= f.file_field :transit_pass_attach, label:"Attach Transit Pass Photo (ट्रॅन्सिट पास का फ़ोटो) " %>
<%= f.file_field :chassis_number_attach , label:"Attach Chassis number photo (चेसिस नंबर का फ़ोटो)" %>

  <div class="actions">
    <%= f.submit "Create Entry (एंट्री करें) " , class: "btn btn-success" %>
  </div>
     </div>
   </div>
  
    
<% end %>

