<p id="notice"><%= notice %></p>

<h1>Listing Truckers</h1>

<table>
  <thead>
    <tr>
      <th>Trucker name</th>
      <th>Truck number</th>
      <th> Truck Phone Number </th>
      <th> has GPS </th>
      <th> Transporter Name </th>
      <th> Consignee Name </th> 
      <th> Truck Type </th>
      <th> Fleet size </th>
      <th> Route start </th>
      <th> Route End </th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @truckers.each do |trucker| %>
      <tr>
        <td><%= trucker.trucker_name %></td>
        <td><%= trucker.truck_number %></td>
        <td><%= trucker.trucker_phn_no %></td>
        <td><%= trucker.has_gps %></td>
        <td><%= trucker.transporter_name %></td>
        <td><%= trucker.consignee_name %></td>
        <td><%= trucker.truck_type %></td>
        <td><%= trucker.fleet_size %></td>
        <td><%= trucker.route_start %></td>
        <td><%= trucker.route_end %></td>

        <td><%= link_to 'Show', trucker.truck_number %></td>
        <td><%= link_to 'Edit', edit_trucker_path(trucker) %></td>
        <td><%= link_to 'Destroy', trucker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trucker', new_trucker_path %>

<br>

<%= link_to 'Export', truckers_path(request.parameters.merge({:format => :xls}))  %>
