<p id="notice"><%= notice %></p>

<p>
  <strong>Trucker name:</strong>
  <%= @trucker.trucker_name %>
</p>

<p>
  <strong>Truck number:</strong>
  <%= @trucker.truck_number %>
</p>



<p>
  <strong>Trucker phn no:</strong>
  <%= @trucker.trucker_phn_no %>
</p>

<p>
  <strong>Has gps:</strong>
  <%= @trucker.has_gps %>
</p>

<p> 
    <strong>Route start:</strong>
  <%= @trucker.route_start %>

</p>

<p> 
    <strong>Route end:</strong>
  <%= @trucker.route_end %>

</p>

<p> 
    <strong>Consignee name :</strong>
  <%= @trucker.consignee_name %>

</p>

<p> 
    <strong>Transporter Name :</strong>
  <%= @trucker.transporter_name%>

</p>

<p> 
    <strong>Fleet Size:</strong>
  <%= @trucker.fleet_size%>

</p>

<p> 
    <strong>Truck Type:</strong>
  <%= @trucker.truck_type %>

</p>


<p> 
    <strong>Driver name :</strong>
  <%= @trucker.drivers[0].driver_name %>

</p>

<p> 
    <strong>Driver Phone number  :</strong>
  <%= @trucker.drivers[0].driver_pnh_no %>

</p>

<p> 
    <strong>Driver license :</strong>
  <%= @trucker.drivers[0].license_no %>

</p>


<p>
   
  <%= image_tag @trucker.rc_attach.url %>
</p>

<p>
  <%= image_tag @trucker.transit_pass_attach.url %>
</p>

<p>
  <%= image tag @trucker.chassis_number_attach.url %>
</p>

<%= link_to 'Edit', edit_trucker_path(@trucker) %> |
<%= link_to 'Back', truckers_path %>
