  <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a  class="page-scroll" href="/truckers/new">Add New Truck</a>
                    </li>
                    <li>
                    <% if current_user %>
                    
                        <a class="page-scroll"  href="/profile">Profile</a>                                                             
                    <% end %> 
                    </li>
                    
                    <li>

                    <% if current_user %>
                    
                        <a class="page-scroll" href="/Contact" target="_blank">Contact</a>                                                             
                    <% end %> </li>

                    <li>


                    <% if current_user %>
                    
                        <a class="page-scroll" href="/logout">Logout</a>                                                             
                    <% end %> </li>
                    
                    <li>
                    <% if current_user %> 
                         <a class="page-scroll" Hi <%= current_user.email %> </a>
                    <% else %>
                        <a class="page-scroll" href="/login">Login</a>                                                             
                    <% end %> </li>


                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
