<!DOCTYPE html>
<html>
<head>
  <title>Dipper</title>
  <%= stylesheet_link_tag     'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

  <p> </p>
  <p> </p>
  <p> </p>
  <br/>
  <br/>
  <br/> <br/>


<body>
     <% if flash[:alert] %>
     <br/> 
    <p class="flash-error"><%= flash[:alert] %></p>
  <% end %>
  <% if flash[:notice] %>
    <br/>
    <p class="flash-notice"><%= flash[:notice] %></p>
  <% end %>
	   <!-- Navigation -->
  <%= render 'navbar' %>





<%= yield %>

</body>
</html>
